data/
outputs/
sparse_evaluate\ copy.py
**/__pycache__/
**/wandb/
**/checkpoint*/
pylate/
**/outputs*/
**/hrs_preds/
**/hrs_eval/
**/results/
**/temp/
**/test/
**/unsloth_compiled_cache/
**/*.jsonl
**/*.txt
!data/amazon_triplets.jsonl
!data/training_data_v1_final_dedup.jsonl
!data/distillation_dataset_teacher.jsonl
!test_output.txt
